{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
</head>
<body>
    <h1 >Welcome to the text analyzer. Enter your text Below</h1>
    <!-- <form action="/analyze" method="get"> -->
        <form action="/analyze/" method="POST" >
            {% csrf_token %}
        <textarea name="text" style="margin: 0px; width: 1350px; height: 173px;"></textarea>
        <br>
        <input type="checkbox" name="removepunc">Remove Punctuations
        <br>
        <input type="checkbox" name="fullcaps">Uppercase
        <br>
        <input type="checkbox" name="newlinerem">New Line Remover
        <br>
        <input type="checkbox" name="spacerem">Space Remover
        <br>
        <input type="checkbox" name="charcount">Character Count
        <br>
        <button type="submit">Analyze Text</button>
    </form>
    
</body>
</html>